{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Author -- Date/Time-->
<!--
<h1 class="my-4">{{object.title}} : <small class="text-muted">{{object.restaurant}}</small></h1>
-->
<p class="lead">
    by {{object.author.username}}, Posted on {{object.created}}
    {% if request.user == object.author %}
    <button type="button"
            class="btn btn-sm btn-outline-secondary float-right" onclick="location.href='{{object.get_update_url}}'">수정</button>
    {% endif %}
</p>

<hr>

<!-- Preview Image -->
{% if object.head_image %}
<img class="img-fluid rounded" src="{{object.head_image.url}}" alt="">
{% endif %}
<hr>

<hr>
<!-- Post Content -->
<p class="lead">
    고기 : {% if object.meat %} 들어있어요 {% else %} 없어요^^ {% endif %}
</p>
<p class="lead">
    생선 : {% if object.fish %} 들어있어요 {% else %} 없어요^^ {% endif %}
</p>
<p class="lead">
    달걀 : {% if object.egg %} 들어있어요 {% else %} 없어요^^ {% endif %}
</p>
<p class="lead">
    우유 : {% if object.milk %} 들어있어요 {% else %} 없어요^^ {% endif %}
</p>
<hr>
<p class="lead">
    참고 : {{object.content}}
</p>
<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">평가를 남겨주세요 :</h5>
    <div class="card-body">
        <form method="post" action="{{ object.get_absolute_url }}new_comment/">{% csrf_token %}
            <div class="form-group">
                {{ comment_form | crispy}}
                <!-- {{ comment_form }} -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div id="comment-list">
    {% for comment in object.comment_set.all %}
    <div class="media mb-4" id="comment-id-{{comment.pk}}">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            {% if comment.author == request.user %}
            <button class="btn btn-sm btn-primary float-right m-1" data-toggle="modal" data-target="#delete_comment_Modal-{{comment.pk}}">삭제</button>
            {% endif %}
            <h5 class="mt-0">{{ comment.author }} <small class="text-muted"> {{comment.created_at}} </small></h5>
            {{ comment.text }}
            <p> 맛 : {{ comment.taste }}   신뢰 : {{ comment.trust }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% for comment in object.comment_set.all %}
{% if user == comment.author %}
<div class="modal fade" id="delete_comment_Modal-{{comment.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">정말로 삭제하시겠습니까?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--
            <div class="modal-body">
                <a href="/blog/delete_comment/{{comment.pk}}/"> 삭제하시겠습니까?</a>
            </div>
            -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/blog/delete_comment/{{comment.pk}}/'">삭제</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}

<!-- 
<title>{{blog_post.title}}</title> -->